#container{
    width: 300px;
    height: 300px;
    background-color: #0000;
    /* display grid => all items converts to row */
    display: grid;
    /* grid-template => they define the lines and tracking sizing */
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-columns: 150px 150px 150px 150px 150px; */
    /* grid-template-columns: auto auto auto; */
    /* Repeat is used to divide all available space */
    /* 1fr => 1 fraction of 100% width or available space */
    /* repeat(count,fr) */
    /* grid-template-rows: repeat(2,2fr); */
    /* grid-template-columns: repeat(3,2fr); */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}
.item{
    background-color: greenyellow;
    border: 1.5px solid azure;
    text-align: center;
}